<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommender</title>
    <!-- Include your CSS links here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <!-- Your header content here -->
	<h1>Music Recommender</h1>
    </header>
    <nav>
        <!-- Your navigation content here -->
	<ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('recommendations') }}">Recommendations</a></li>
            </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Your footer content here -->
	&copy; Your Music Recommender
    </footer>

    <!-- Include your JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
