{% extends 'base.html' %}

{% block content %}
    <h2>Music Recommendations</h2>

    <h3>Your Top Tracks:</h3>
    <ul>
        {% for track in top_tracks['items'] %}
            <li>{{ track['name'] }} by {{ track['artists'][0]['name'] }}</li>
        {% endfor %}
    </ul>

    <h3>Recommended Tracks:</h3>
    <ul>
        {% for track in recommended_tracks['tracks']['items'] %}
            <li>{{ track['name'] }} by {{ track['artists'][0]['name'] }}</li>
        {% endfor %}
    </ul>
{% endblock %}
